html
	
	head
		meta(charset='UTF-8')
		title Scaffolding · Bootstrap
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='css/app.min.css' media='all')

	body
	
		section#fluidGridSystem
			div.page-header
				h1 Fluid grid fluid

			h2 Live fluid frid exemple
			p The fluid grid system uses percents instead of pixels for column widths. It has the same responsive capabilities as our fixed grid system, ensuring proper proportions for key screen resolutions and devices.
			div.bs-docs-grid
				div.row.show-grid
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
					div.col-md-1 1
				div.row-fluid.show-grid
					div.col-md-4 4
					div.col-md-4 4
					div.col-md-4 4
				div.row-fluid.show-grid
					div.col-md-4 4
					div.col-md-8 8
				div.row-fluid.show-grid
					div.col-md-6 6
					div.col-md-6 6
				div.row-fluid.show-grid
					div.col-md-12 12
	script(src='js/app.min.js')